html {
  scroll-behavior: smooth;
  font-size: 1rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

body {
  background: url("../img/menara.jpeg") no-repeat;
}

h2, h3 {
  color: #1f1f1f;
}

a {
  color: #0f0f0f;
  font-weight: 600;
  text-decoration: underline #bebebe 2px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h-line {
  height: 1.9px;
  width: 50px;
  background: #ec5242;
  margin: 10px 0;
}

.button {
  text-decoration: none;
  padding: 25px 30px;
  background: #ec5242;
  color: #dedede;
  width: fit-content;
  align-self: center;
  margin-top: 30px;
}

#navbar {
  background: #efefefe8;
  padding: 15px;
}

#hamburger-button {
  cursor: pointer;
  
}

#hamburger-button div {
  height: 6px;
  width: 30px;
  background-color: #434342;
  margin-bottom: 4px;
}

#mobile-menu {
  display: none;
}

#headline {
  color: #ec5242;
  padding: 90px 15px 50px 15px;
  background: #efefefe8;
  align-items: flex-start;
}

#headline small:first-child {
  font-size: 1.2rem;
}

#headline > .desc {
  border: 3px solid #fff;
  padding: 15px;
}

#headline > .join-us {
  text-align: center;
}

#headline p, #headline .date {
  color: #434342;
  margin: 15px 0;
  line-height: 1.5rem;
}

#program,
#speakers,
#logo,
#recent-cops,
#partners {
  background: #272a31;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px 15px;
  color: #dedede;
}

#program,
#speakers {
  align-items: stretch;
}

#program > header > h2 {
  color: #dedede;
}

#program > .program-card {
  display: flex;
  gap: 30px;
  align-items: center;
  background: #efefef18;
  padding: 20px 20px;
  margin: 5px 0;
}

#program > .program-card > span {
  flex: 10vw;
}

#program > .program-card > h3 {
  flex: 30vw;
  color: #ec5242;
}

#program > .program-card > p {
  flex: 60vw;
}

#speakers {
  background: #fff;
  color: #0f0f0f;
}

.speaker {
  display: flex;
  margin: 30px 0;
}

.speaker > img {
  width: 120px;
  height: 150px;
  margin-right: 20px;
}

.speaker > .text > .position {
  color: #ec5242;
  margin: 5px 0;
  font-style: italic;
}

.speaker > .text > .h-line {
  background: #dedede;
  width: 25px;
}

#partners h2 {
  color: #fff;
}

#partners > .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

#partners img {
  max-width: 150px;
  max-height: 100px;
  margin: 5px 2px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 40px;
  color: #434342;
  font-style: italic;
}

footer img {
  max-width: 100px;
  margin-right: 50px;
}

@media only screen and (min-width: 768px) {
  
}
