html {
  scroll-behavior: smooth;
  font-size: 1rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

body {
  background: url("../img/menara.jpeg") no-repeat;
  background-size: 100% auto;
}

h2 {
  text-align: center;
}

h2, h3 {
  color: #272a31;
}

a {
  color: #0f0f0f;
  font-weight: 600;
  text-decoration: underline #bebebe 2px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hide-all {
  display: none !important;
}

.hide-sml {
  display: none !important;
}

.h-line {
  height: 1.9px;
  width: 50px;
  background: #ec5242;
  margin: 10px 0;
}

.button {
  text-decoration: none;
  padding: 25px 30px;
  background: #ec5242;
  color: #dedede;
  width: fit-content;
  align-self: center;
  margin-top: 30px;
}

.button:hover {
  background: #ef5f4f;
}

#navbar {
  background: #efefefe8;
  padding: 15px;
}

#hamburger-button {
  cursor: pointer;
  display: inline-block;
}

#hamburger-button div {
  height: 6px;
  width: 30px;
  background-color: #434342;
  margin-bottom: 4px;
  transition: all 0.1s;
}

.close-button {
  position: fixed;
  z-index: 100;
}

.close-button div:nth-child(1) {
  transform: rotate(50deg) translate(7px, 6px);
  transition: transform 0.2s;
}

.close-button div:nth-child(3) {
  transform: rotate(-50deg) translate(0, -1px);
  transition: transform 0.2s;
}

.close-button div:nth-child(2) {
  display: none;
}

#mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #dedede;
}

#mobile-menu ul {
  margin: 70px 0 0 40px;
  list-style: none;
}

#mobile-menu ul li {
  margin: 30px 0;
}

#mobile-menu ul li a {
  font-size: 2rem;
  text-decoration: none;
  color: #272a31;
}

#mobile-menu ul li a:hover {
  color: #6f6f6f;
  text-decoration: underline;
}

#headline {
  color: #ec5242;
  padding: 40px 15px 50px 15px;
  background: #efefefe8;
  align-items: flex-start;
}

#headline small:first-child {
  font-size: 1.5rem;
}

#headline > .desc {
  border: 2px solid #fefefe;
  padding: 15px;
}

#headline h2 {
  font-weight: 900;
  color: #4f4f4f;
}

#headline p, #headline .date {
  color: #4f4f4f;
  margin: 15px 0;
  line-height: 1.5rem;
}

#program,
#speakers,
#logo-display,
#recent-cops,
#partners {
  background: #272a31;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 45px 15px;
  color: #dedede;
}

#recent-cops {
  border-top: 2px solid #dedede;
  border-bottom: 2px solid #dedede;
}

#program,
#speakers {
  align-items: stretch;
}

#program  header  h2 {
  color: #dedede;
}

#program  .program-card {
  display: flex;
  gap: 30px;
  align-items: center;
  background: #efefef18;
  padding: 20px 20px;
  margin: 5px 0;
}

#program  .program-card  span {
  min-width: 40px;
}

#program  .program-card  h3 {
  min-width: 90px;
  color: #ec5242;
}

#speakers {
  background: #fff;
  color: #0f0f0f;
}

.speaker {
  display: flex;
  margin: 30px 0;
}

.speaker > img {
  width: 120px;
  height: 150px;
  margin-right: 20px;
}

.speaker > .text > .position {
  color: #ec5242;
  margin: 5px 0;
  font-style: italic;
}

.speaker > .text > .h-line {
  background: #dedede;
  width: 25px;
}

#partners h2 {
  color: #fff;
}

#partners > .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

#partners img {
  max-width: 150px;
  max-height: 100px;
  margin: 5px 10px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 40px;
  color: #434342;
  font-style: italic;
}

footer img {
  max-width: 100px;
  margin-right: 50px;
}

@media only screen and (min-width: 768px) {
  .hide-lrg {
    display: none !important;
  }

  .hide-sml {
    display: initial !important;
  }

  #navbar {
    display: flex;
    padding: 15px 10%;
    background: #fff;
    align-items: center;
    justify-content: space-between;
  }

  #navbar img {
    max-width: 40px;
  }

  #navbar  ul {
    list-style: none;
    display: flex !important;
  }
  
  #navbar  ul  li {
    margin: 0 25px;
  }
  
  #navbar a {
    text-decoration: none;
    color: #434342;
    transition: color 0.1s;
  }

  #navbar a:hover {
    color: #ec5242;
  }

  #logo {
    color: #272a31 !important;
    font-size: 1.5rem;
    display: flex !important;
    align-items: center;
    gap: 15px;
  }

  #logo-right {
    border: 3px solid #ec5242;
    color: #ec5242 !important;
    padding: 8px;
  }

  #headline {
    padding: 120px 10%;
  }

  #headline h1 {
    font-size: 4rem;
  }

  #headline p {
    max-width: 700px;
    margin: 40px 0;
  }

  #program{
    padding: 45px 10%;
  }

  #program > div {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  #program .program-card {
    flex-direction: column;
    margin: 0 5px;
    width: 200px;
    min-height: 260px;
    gap: initial;
    margin: 4px 2px;
    justify-content: flex-start;
    text-align: center;
    border: 2px solid #dedede00;
  }

  #program .program-card:hover {
    border: 2px solid #dedede;
    cursor: pointer;
  }

  #program .program-card span,
  #program .program-card h3 {
    height: 50px;
  }

  #program .program-link {
    align-self: center;
    margin: 45px 0;
    color: #dedede;
    text-underline-offset: 2px;
  }

  #program .program-link:hover {
    color: #fff;
  }

  #speakers {
    padding-bottom: 120px;
  }

  #speakers > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 5%;
    gap: 25px;
    justify-content: center;
  }

  .speaker {
    width: calc(45% - 25px);
  }
}
