html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

body {
  padding: 0 15px;
  background: #dedede;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
}

#hamburger-button {
  cursor: pointer;
  margin-left: 4vw;
  margin-top: 15px;
}

#hamburger-button div {
  height: 6px;
  width: 30px;
  background-color: #434342;
  margin: 4px 0;
}

#mobile-menu {
  display: none;
}

#headline {
  margin-top: 75px;
  color: #ec5242;
}

#headline small:first-child {
  font-size: 1.2rem;
}

#headline p {
  border: 3px solid #fff;
  padding: 15px;
}

#headline p, #headline .desc {
  color: #434342;
  margin: 15px 0;
  line-height: 1.5rem;
}
